.block {
  display: table;
  margin: 0 auto;
  padding-top: 20px;

  .button {
    background: #ff6400;
    -webkit-border-radius: 3px;
    background-clip: padding-box;
    font-size: 1.4rem;
    height: 90px;
    line-height: 25px;
    width: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-weight: bold;
    padding-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .input {
    width: 250px;
    box-sizing: border-box;
    height: 30px;
    border: 2px solid darkgray;
    border-radius: 5px;

    &:active {
      border: 3px solid #15264B;
    }
  }

  .label {
    display: block;
    text-align: left;
    margin: 0;
  }
}

.suggestion {
  display: table;
  margin: 0 auto;
  padding-top: 10px;

  li:hover {
    background: blue;
    color: white;
    cursor: pointer;
  }
}

.remove {
  display: table-cell;
  padding-left: 10px;
}

.active {
  background: blue;
}

[class^="ico-"], [class*=" ico-"]{
  font: normal 1em/1 Arial, sans-serif;
  float: left;
}

.ico-times:before{ content: "\2716"; }
.ico-check:before{ content: "\2714"; }
