<div class="block">
  <label class="label" [textContent]="this.text.label"></label>
  <input class="input" (keyup)="onKey($event)">
</div>
<p>
<div class="block">
  <div class="button"
  	(click)="goToGoogle(this.selectCity)">
  	<span [textContent]="this.text.button"></span>
  </div>
</div>
<div *ngFor="let item of this.cityList.city" class="suggestion">
  <li class="dropdown-item" 
  	*ngIf="item"
  	[ngClass]="{ 'active': item === this.selectCity }"
  	(click)="selectFromSuggestions(item)">{{item}}
  </li>
  <div class="remove" *ngIf="item === this.selectCity">
    <span (click)="removeChecked()">
    	<i class="ico-times"></i>
    </span>
  </div>
</div>